.main-dashboard {
  border: 1px solid black;
  max-height: 450px;  
  max-width: 350px;
  min-height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.42),
          0 2px 4px 0 rgba(0,0,0,0.08);
  margin-top: -1500px;
  transition: all 0.9s ease-in-out;
}
.main-dashboard.isLoged {
  margin-top: 50px;
  padding: 0;
  transition: all 0.9s ease-in-out;

}
.main-dashboard .form-group {
display: -webkit-inline-box;
width: auto;
margin: auto;
padding-top: 20px;
}
.main-dashboard select, .mail-user {
margin-right: 10px;
}
.empty {
  width: 50%;
  margin: 150px auto;
}
/*  spinner */
.lds-roller {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-dashboard.input.isLoged {
  max-height: 155px;
  min-height: 155px;
  width: 90%;
  margin-top: 15px;
}
.main-home.row {
  display: grid;
}
.input-publication .title {
  width: 100%;
  text-align: left;
  height: 33px;
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  padding-left: 10px;
}
.input-publication .footer {
  border-top: 1px solid #e9ebee;
  margin: 0 12px;
  padding: 8px 0;
  width: auto;
  height: 49px;
}
.title span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}
.input-publication input {
  max-height: 100px;
  min-height: 71px;
  width: 100%;
  padding-top: 13px;
  letter-spacing: normal;
  line-height: 18px;
  border: 1px solid transparent;
  padding: 0 15px;
  outline: none;
}
.input-publication input.publicationSelected {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  font-weight: 600;
}
button.shared {
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  background-color: #4267b2;
  border-color: #4267b2;
  color: white;
  padding: 0;
  position: absolute;
  right: 10px;
}
.empty-comments {
	border: 1px solid #bbb;
	text-align: center;
	margin: 11%;
	border-radius: 10px;
}

.empty-comments h3 {
	margin: 0;
  padding: 15px;
  color: black;
}
.all-publications {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
button.shared.disabled {
  background: #bbb;
  color: black;
}
.footer.row a {
  cursor: pointer;
}
.logout {
  width: 150px;
  margin: auto;
  cursor: pointer;
}
